<div class="card-footer d-flex justify-content-between p-2">
  <button href="#" class="btn btn-primary shadow-sm flex-grow-1 mx-1" id="suggested-btn" style="border-radius: 20px;">Suggested</button>
  <button href="#" class="btn btn-light shadow-sm flex-grow-1 mx-1" id="mylist-btn" style="border-radius: 20px;">My List</button>
</div>
<div class="d-flex justify-content-between p-2" id="main-buttons">
  <button href="#" class="btn btn-primary shadow-lg flex-grow-1 mx-1" id="recent-btn" style="border-radius: 20px;">Most Recent</button>
  <button href="#" class="btn btn-light shadow-sm flex-grow-1 mx-1" id="popular-btn" style="border-radius: 20px;">Most Popular</button>
  <button href="#" class="btn btn-light shadow-sm flex-grow-1 mx-1" id="create-btn" style="border-radius: 20px;">Create New</button>
</div>
