<div id="create-content" class="content-section d-none">
  <form id="new-post-form">
    <div class="form-group">
      <label for="post-image">Upload Photo</label>
      <input type="file" class="form-control-file" id="post-image">
    </div>
    <div class="form-group">
      <label for="post-description">Description (50 characters max)</label>
      <input type="text" class="form-control" id="post-description" maxlength="50">
    </div>
    <div class="form-group">
      <label for="post-rating">Rating</label>
      <select class="form-control" id="post-rating">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
