<div id="mylist-content" class="content-section d-none">
  <p>My List content will be displayed here.</p>
  <div id="mylist-places" class="list-group">
    <div class="mylist-place list-group-item">
      <div class="d-flex w-100 justify-content-between">
        <div class="d-flex align-items-center">
          <h5 class="mb-1 ml-3">Portal Point Ebisu</h5>
        </div>
      </div>
      <div class="d-flex mt-3">
        <img src="image1.jpg" alt="Image 1" class="img-fluid mx-1" style="max-width: 30%;">
        <img src="image2.jpg" alt="Image 2" class="img-fluid mx-1" style="max-width: 30%;">
        <img src="image3.jpg" alt="Image 3" class="img-fluid mx-1" style="max-width: 30%;">
      </div>
      <div class="d-flex justify-content-between mt-3">
        <button class="btn btn-success btn-lg w-100 mr-2">Directions</button>
        <button class="btn btn-info btn-md w-100 mx-2">Saved</button>
        <button class="btn btn-light btn-sm"><i class="fas fa-share"></i></button>
      </div>
      <div class="d-flex justify-content-between align-items-center mt-3">
        <div class="star-rating">
          <p> Average: 5
            <span>&#9733;</span>
          </p>
        </div>
        <button class="btn btn-light btn-lg ml-2">Reviews</button>
      </div>
    </div>
  </div>
</div>
