// Specific CSS for your home-page
#draggable-panel {
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 100%;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  height: 80vh;
  border-radius: 16px 16px 0 0;
}

#resizer {
  height: 36px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: ns-resize;
}

#panel-top-line {
  width: 25%;
  height: 4px;
  margin: auto;
  border: none;
  color: grey;
  background-color: grey;
  border-radius: 2px;
}

#input-fields {
  padding: 16px 0 16px 0;

  input {
    background-color: white;
    border: none;
    flex-grow: 1;
  }

  input:focus {
    outline: none;
  }

  > * {
    border: 1px solid grey;
    border-radius: 30px;
    background-color: white;
    padding: 6px 8px 6px 16px;
  }

  > *:focus-within {
    outline: 1px solid blue
  }

  button {
    height: 100%;
    border-radius: 100%;
  }
}

.br-30 {
  border-radius: 30px;
}

#first-back-button {
  height: 41px !important;
  border: none;
  padding: 8px 16px;
}
