<div id="recommended-p-container" class="card-grid">
    <% @places.each do |place| %>
    <div class="card">
      <div class="card-body">
          <p class="card-text recommended-places"><%= place.address %></p>
          <%= image_tag place.photos.first %>
          <p class="card-text recommended-places"><%= place.name %></p>
      </div>
    </div>
    <% end %>
</div>
