<div id="recommended-p-container" class="card-grid">
  <% @places.take(5).each do |place| %>
    <div class="card">
      <% if place.photos.first %>
      <% else %>
        <div class="card-body">
        <% end %>
        <p class="card-text recommended-places"><%= place.address %></p>
        <%= image_tag place.photos.first %>
        <p class="card-text recommended-places"><%= place.name %></p>
      </div>
    </div>
  <% end %>
</div>
