<!-- frame -->
<div style="height:100vh;width:100vw;" data-controller="home-map">
  <!-- location input -->
  <div id="input-fields" class="container p-3" style="position:absolute; top:0px; z-index:1;">
    <div class="input-group mb-3 d-none" data-home-map-target="originInput">
      <input type="text" class="form-control" id="origin">
      <!-- <div class="input-group-append">
        <button class="btn btn-primary"><i class="fa-solid fa-arrow-right"></i></button>
      </div> -->
    </div>
    <div class="input-group">
      <input type="text" class="form-control" id="destination">
      <!-- <div class="input-group-append">
        <button class="btn btn-primary"><i class="fa-solid fa-arrow-right"></i></button>
      </div> -->
    </div>
    <button class="btn btn-secondary d-none" id="go-button" data-action="click->home-map#direct">Go</button>
  </div>
  <!-- map -->
  <div id="map" style="z-index:0; height:100vh;" data-action="load@window->home-map#initMap"></div>
  <!-- draggable-panel -->
  <div id="draggable-panel" class="bg-white" data-controller="panel-resizer">
    <!-- draggable thingy -->
    <div id="resizer" class="w-100 d-flex align-items-center" data-action="mousedown->panel-resizer#grab touchstart->panel-resizer#grab">
      <hr id="panel-top-line">
    </div>
    <div id="panel-content">
      <!-- Place description -->
      <div>
        <div id="place-description" class="container mt-3">
          <div class="row">
            <div class="col">
              <h2 data-home-map-target="name"></h2>
              <%# <p>Address:</p> %>
              <div class="d-flex">
                <i id= "icon" class="fa-solid fa-location-crosshairs d-none"></i>
                <p id="description" data-home-map-target="address"	></p>
              </div>
              <%# <p>phone-number:</p> %>
              <div class="d-flex">
                <i id= "icon" class="fa-solid fa-phone d-none"></i>
                <p id="description" data-home-map-target="phone"	></p>
              </div>
              <%# <p>photos:</p> %>
              <div data-home-map-target="photo"></div>
              <button class="btn btn-secondary d-none" data-action="click->home-map#showStuff" id="directions-button">Directions</button>
            </div>
          </div>
        </div>
        <!-- Reviews -->
        <div id="reviews-container" class="p-3 m-3">
          <%# review partial created in pages_controller in #render_reviews and inserted in home_map_controller fetch %>
          <%#= "no reviews" unless @places.present? %>
        </div>
      </div>
      <!-- home -->
      <div id="initial-content">
        <h1 class="mt-0">Welcome to Stoller city!</h1>
        <hr>
        <p>Accesible routing, made easy</p>
        <div>
          <button class="icon-button rounded-pill">🕒 Recent</button>
          <button class="icon-button rounded-pill">🔥 Recommended</button>
          <button class="icon-button rounded-pill">👶 Saved</button>
        </div>
        <div class="text-center" style="margin: 50px 0;">
          <div style="background-color: #000; width: 75px; height: 75px; border-radius: 50%; display: flex; justify-content: center; align-items: center; margin: auto;">
            <i class="fa-solid fa-user" style="font-size: 50px; color: #fff;"></i>
          </div>
        </div>
        <div class="card">
        </div>
      </div>
    </div>
  </div>
</div>
