/* Custom styles for the suggested content */
.place-image {
  max-width: 70%; /* Set the maximum width for the images */
  height: auto; /* Maintain the aspect ratio */
}


/* Align the buttons to the far right */
.review-place .d-flex.flex-row.align-items-end {
  justify-content: flex-end;
  margin-left: auto; /* Pushes the icons to the far right */
}

.custom-btn {
  font-size: 20px; /* Increase font size */
}

.custom-btn i {
  font-size: 24px; /* Increase icon size */
}
