.bottom-left-buttons {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.bottom-left-buttons button {
  margin-right: 5px;
}

.bottom-right-date {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.date-text {
  font-size: 0.9em;
  color: #6c757d;
}

.star-rating span {
  color: #ffd700;
  font-size: 1.3em;
}

h5 {
  font-size: 2em;
}
p {
  font-size: 1.3em;
}
