.instructions-container {
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
}

.instruction-card {
  display: flex;
  justify-content: center;
  width: 18rem;
  height: 20vh;
  width: 20vh;
  margin-right: 10px;

  p {
    white-space: normal; /* Allow the text to wrap within the card */
    margin: 10px; /* Add some padding inside the card */
    font-size: 18px;
  }
}

.route-summary-trip {


  .route-summary-trip-text {
    font-size: 12px;
  }
}

.card-point {

  .card-point-text {
    display: flex;
    flex-direction: column;
    font-size: 15px;
  }

  .point-title {
    margin-top: 10px;
    color: blue;
  }
}

.card-walk {
  padding: 10px 15px;
  .card-walk-text {
    display: flex;
    flex-direction: column;
    font-size: 26px;
    color: blue
  }
}

.card-transport {


  .card-transport-text {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding: 10px;
  }
}

.start-goal-card {
  height: 22vh;
  width: 15vh;
  .card-point-text {
    font-size: 20px;
    text-align: center;
  }

  a {
    height: 40px;
    width: 80px;
    background-color: red;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    border-radius: 10px;
    transition: 0.3s;
    font-size: 16px;
    padding: 10px;
    margin: 5px auto;

    &:hover {
      background-color: #8f1212;
    }

  }
}

.end-trip-btn {
  height: 40px;
  width: 80px;
}

.walk-stats-container {
  margin-bottom: 10px;
  padding: 5px;

  .walk-stats-list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
  }

  li {
    color: gray;
    font-size: 12px;
  }

}

.arrow {
  color: blue;
  font-size: 34px;
  text-align: end;
}

.elevator-image-container {
  display: flex;
  justify-content: space-between;
  margin: 10px;

  img {
    height: 100px;
    width: 85px;
    border-radius: 15px;
  };

  .exit {
    display: flex;
    align-items: last baseline;
    .exit-text {
      font-size: 8px;
      background-color: yellow;
      color: blue;
      border-radius: 20px;
      padding: 2px;
      margin-right: 1px;
    }

  }
}

.transfer-card-img {
  height: 100px;
  width: 85px;
  border-radius: 15px;
  }

  .route-stops {
    border-radius: 50%;
    color: white;
    text-align: center;
    margin-top: 5px;
    font-size: 19px;
    margin-right: 2px;
    padding-left: 5px;
  }

  .modal-backdrop {
    z-index: 1040 !important;
  }

  .modal-content {
    z-index: 1050 !important;
  }
