.instructions-container {
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
}

.instruction-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18rem;
  height: 20vh;
  width: 25vh;
  margin-right: 10px;



  p {
    white-space: normal; /* Allow the text to wrap within the card */
    margin: 10px; /* Add some padding inside the card */
    font-size: 18px;
  }
}

.route-summary-trip {


  .route-summary-trip-text {
    font-size: 12px;
  }
}

.card-point {

  .card-point-text {
    display: flex;
    flex-direction: column;
    font-size: 12px;
  }
}

.card-walk {

  .card-walk-text {
    font-size: 12px;
  }
}

.card-transport {

  .card-transport-text {
    font-size: 12px;
  }
}

.start-goal-card {
  height: 22vh;
  width: 15vh;
  .card-point-text {
    font-size: 26px;
  }
}
