.instructions-container {
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
}

.instruction-card {
  display: flex;
  width: 18rem;
  height: 20vh;
  width: 20vh;
  margin-right: 5px;
  p {
    white-space: normal; /* Allow the text to wrap within the card */
    margin: 10px; /* Add some padding inside the card */
    font-size: 18px;
  }
}

.route-summary-trip {
  opacity: .6;


  .route-summary-trip-text {
    font-size: 0px;
  }
}

.card-point {
  display: flex;
  justify-content: center;

  .card-point-text{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    flex-wrap: wrap;
    margin: 0px 5px;
    margin-top: 18px;

  }

  .point-title, .transfer-station-text {
    background-color: #d3d3d357;
    border-radius: 3px;
    padding: 0 2px;
    color: #396DA6;
    font-weight: bold;
    text-align: center;
  }

  .transfer-title-container {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    flex-wrap: wrap;
    margin: 0px 5px;
  }
  .transfer-station-text {
    margin-bottom: 0px;
  }

  .transfer-card-img-icon-container {
    display: flex;
    justify-content: space-between;
    align-items: first baseline;
    .baby-changer-icon{
      height: 20px;
      width: 20px;
      border-radius: 50%;
    }
  }


}

.card-walk {
  padding: 0px 10px;
  display: flex;
  justify-content: space-evenly;
  .card-walk-text {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    color: #2d7dd2;
  }
  .walk-icon {
    font-size: 27px;
    text-align: center;
    color: #2d7dd2;

  }

  span {
    text-align: center;
  }
}

.card-transport {
  i {
    margin-bottom: 5px;
  }

  span {
    margin: 8px 0;
  }

  .card-transport-text {
    margin: 8px 0;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    padding: 10px;
    text-wrap: wrap;
    justify-content: space-evenly;
  }





}

.start-goal-card {
  height: 22vh;
  width: 15vh;
  .card-point-text {
    font-size: 12px;
    text-align: center;
  }

  i {
    font-size: 25px;
    margin-bottom: 5px;
  }

  a {
    height: 40px;
    width: 80px;
    background-color: #d81159;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    border-radius: 10px;
    transition: 0.3s;
    font-size: 12px;
    padding: 17px;
    margin: 5px auto;

    &:hover {
      background-color: #8f1212;
    }

  }
}

.end-trip-btn {
  height: 40px;
  width: 80px;
}

.walk-stats-container {
  margin: 5px 0px;

  .walk-stats-list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
  }

  li {
    color: gray;
    font-size: 12px;
  }

}

.arrow {
  color: #396DA6;
  font-size: 12px;
  text-align: end;
}

.elevator-image-container {
  display: flex;
  justify-content: space-between;
  margin: 5px;

  img {
    height: 74px;
    width: 65px;
    border-radius: 15px;
  };

  .exit {
    display: flex;
    align-items: flex-end;
    justify-content: right;
    padding-top: 30px;
    flex-wrap: wrap;
    .exit-text {
      flex-wrap: wrap;
      font-size: 8px;
      background-color: yellow;
      color: black;
      border-radius: 20px;
      padding: 2px;
      margin-right: 1px;
      font-weight: bold;
    }

  }
}

.transfer-card-img {
  height: 74px;
  width: 65px;
  border-radius: 15px;
  border: lightgray 1px solid;
  margin-top: 5px;
  }

  .route-stops {
    border-radius: 50%;
    color: white;
    text-align: center;
    margin-top: 5px;
    font-size: 15px;
    margin-right: 2px;
    padding-left: 5px;
  }

  .route-stop-container
  {
    text-align: right;
    font-size: 13px;
  }

  .modal-backdrop {
    z-index: 1040 !important;
  }

  .modal-content {
    z-index: 1050 !important;
  }
