<!-- app/views/routes/index.html.erb -->
<div class="route-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(http://res.cloudinary.com/dckq0zged/image/upload/v1724468241/pnatl16tdbxjr9glkyr1.png);">
  <div class="container">
    <div class="route-start-stop">
      <button class="text-primary simple-back-button" onclick="window.history.back();">
        <i class="fa-solid fa-chevron-left"></i>
      </button>
      <h3 class="start"><i class="fa-solid fa-location-dot text-success"></i> <%= @origin %> </h3>
      <h3 class="stop"><i class="fa-solid fa-location-pin text-danger"></i> <%= @destination %></h3>
    </div>
  </div>
</div>
<% if @navitime_routes && @navitime_routes['items'].present? %>
  <% @navitime_routes['items'].each do |route| %>
    <%= render partial: 'routes', locals: { route: route } %>
  <% end %>
<% else %>
  <p>No routes available. </p>
<% end %>
