<!-- app/views/routes/index.html.erb -->
<h1>Available Routes</h1>
<% if @navitime_routes && @navitime_routes['items'].present? %>
  <% @navitime_routes['items'].each do |route| %>
    <%= render partial: 'routes', locals: { route: route } %>
  <% end %>
<% else %>
  <p>No routes available.</p>
<% end %>
