<h3>Routes (<%= @routes.count %>)</h3>
<% @routes.each do |route| %>
  <div class="card mb-3 p-3">
    <div class="me-2">
      <% route.trips.each do |trip| %>
        <div class="me-3">
          <h5 class="card-title mt-2 mb-0">> <%= trip.title %></h5>
          <% if trip.title == "Walk" %>
            <p class="card-text m-0 ps-2"><%= (trip.duration / 60).round %> min</p>
          <% end %>
        </div>
      <% end %>
    </div>
    <a href="<%= route_path(route) %>" class="btn btn-primary">Show</a>
  </div>
<% end %>
